.login{
    display: grid;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 85px;
    padding-bottom: 100px;
}

.Login__logoImage{
    width: 120px;
    object-fit: contain;
    margin-top: 5px;
}

.login__appName{
    color: #3b88c3;
    font-weight: bolder;
    margin-bottom: 30px;
    font-size: 30px;
}

.login > form{
    display: flex;
    flex-direction: column;

}

.login > form > input{
    width: 350px;
    height: 45px;
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    outline: none;
}

.login > form > button{
    width: 365px;
    height: 50px;
    font-size: large;
    color: white;
    background-color: #3b88c3;
    border-radius: 10px;
    outline-offset: none;
    cursor: pointer;
}

.login__signInButton:hover{
    background-color: #0d8ff1;
}

.login__register{
    color: #0d8ff1;
    cursor: pointer;
}

.login > p {
    margin-top: 25px;
}