.sidebar{
    top: 80px;
    position: sticky;
    flex: 0.2;
    border-radius: 10px;
    text-align: center;
    height: fit-content;
}

.sidebar__avatar{
    margin-bottom: 10px;
}

.sidebar__top{
    display: flex;
    flex-direction: column;
}